
#backgroud{
	width:80%;
	background:#C7FFFD;
	margin:0 auto;
	text-align: center;
}

header{
	background:#DDDEAF;
	width:1000px;
	height:100px;
	text-align: center;
}
.dacdiem{
	background:#ACACCF;
	width:1000px;
	height:150px;
    margin-top: 15px;
	text-align: center;
}
#content{
	width:1000px;
	height:110px;
	background:#FAA5F5;
	margin-top:12px;
}

#noidung1{
	background:#72AA72;
    width: 321px;
    height: 100px;
    float: left;
	text-align: center;
}
#noidung2{
	background: #7BAF72;
    width: 321px;
    height: 100px;
    float: left;
    margin-left: 18px;
	text-align: center;
}
#noidung3{
	background: #7DAF72;
    width: 321px;
    height: 100px;
    float: left;
    margin-left: 18px;
	text-align: center;
}
footer{
	background:#F5BBBF;
	width:1000px;
	height:120px;
	text-align: center;
}










